<?php
/**
 * Example configuration file to use in console mode with
 *
 * $ ./bin/pjbserver-tools pjbserver:start 8089 --config-file=<config-file>
 *
 * You can adapt for your own need, but don't edit this file directly...
 * as *.dist files are overwritten on update (git pull...)
 */

$base_dir = realpath(__DIR__ . DIRECTORY_SEPARATOR . '..');
$tcp_port = 8089;

return [
    /* Port on which the standalone server listen */
    'port'       => $tcp_port,

    /**
     * Location of log and pid files... Please do not put
     * them in global /tmp directory as it might be cleaned by the OS
     * Defaults is to put them in the project '/var/...' directory
     * but for better to specify your own data directory.
     */

    'log_file'   => "${base_dir}/var/pjbserver-port${tcp_port}.log",
    'pid_file'   => "${base_dir}/var/pjbserver-port${tcp_port}.pid",


    /* Specify here additional jar files or directory */
    'classpaths' => [
        // '/my/path/autoload/*.jar',
        // '/my/path/mylib.jar'
    ],

    /* Standalone server tuning
        - Number of threads for standalone server is 50, increase if needed
    */

    //'threads'    => 60,

    /**
     * Java binary, if not in path you can
     * specify its location here, for example:
     *  - '/usr/bin/java' or
     *  - '/usr/lib/jvm/java-8-oracle/bin/java'
     *  - ...
     */

    'java_bin'   => 'java',

    /**
     * Location of the JavaBridge.jar
     */
    'server_jar' => "${base_dir}/resources/pjb621_standalone/JavaBridge.jar",


];